<?xml version="1.0" encoding="UTF-8"?>

<plugin name="svg-component-cdf" title="Svg Component">

  <static-paths>
    <!-- this translates to /pentaho/content/common-ui/resources/* -->
    <static-path url="/svg-component-cdf/resources" localFolder="resources"/>
  </static-paths>
  <external-resources>
	<file context="requirejs">content/svg-component-cdf/resources/components/require-js-cfg.js</file>
  </external-resources>

</plugin>
